.main-content.menu-slide {
    padding-left: 40px;
}
.main-content-area {
    float: left;
    width: 100%;
}
.main-content-area > .row {
    margin: 0 -10px;
}
.main-content-area > .row > div {
    padding: 0 10px;
}
.widget.blank {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}
.widget .row {
    margin: 0 -10px;
}
.widget .row > div {
    padding: 0 10px;
}
.widget {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e1e1e1;
    float: left;
    margin-top: 20px;
    position: relative;
    width: 100%;
    z-index: 0;
}
.widget-title.no-padding {
    padding: 0;
}
.billing-sec .widget-title {
    margin-bottom: 20px;
}
.widget-title {
    border-bottom: 1px solid #e1e1e1;
    float: left;
    padding: 20px;
    width: 100%;
}
.widget-titlebar {
    border-bottom: 1px solid #e1e1e1;
    float: left;
    padding: 20px;
    width: 320px;
    background: url("https://b.yzcdn.cn/scrm/images/widget/showcase/titlebar.png") no-repeat;
    height: 64px;
}
.widget-title > h3 {
    color: #383838;
    float: left;
    font-family: Rubik;
    font-size: 18px;
    font-weight: normal;
    line-height: 29px;
    margin: 0 15px 0 0;
}
.widget-title > span {
    color: #707070;
    float: left;
    font-size: 13px;
    margin-top: 7px;
}
.widget-controls {
    float: right;
}
.widget-controls > span {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e1e1e1;
    color: #b8b8b8;
    cursor: pointer;
    float: left;
    font-size: 12px;
    height: 29px;
    line-height: 28px;
    margin-right: -1px;
    text-align: center;
    width: 29px;
}
.widget.with-padding {
    padding: 30px;
}
.with-padding {
    float: left;
    padding: 30px;
    width: 100%;
}
.widget.color-panel .widget-title h3 {
    color: #ffffff;
}
.widget.color-panel .widget-title h3 {
    color: #ffffff;
}
.widget.color-panel {
    border: medium none;
}
.widget.color-panel .widget-title {
    border-color: #fff;
}
.widget.color-panel * {
    color: #ffffff;
}
.widget.color-panel .widget-title .widget-controls span > i {
    color: #838383;
}

/* ui Sortable */
.connected, .sortable, .exclude, .handles {
    -moz-user-select: none;
    float: left;
    margin: auto;
    padding: 0;
    width: 100%;
}
.sortable.grid {
    overflow: hidden;
}
.connected li, .sortable li, .exclude li, .handles li {
    background: none repeat scroll 0 0 #fafafa;
    color: #333333;
    float: left;
    font-family: Roboto;
    height: auto;
    list-style: none outside none;
    margin: 0;
    padding: 8px 15px;
    width: 100%;
    cursor: pointer;
}
.sortable-style .list > li {
    margin-top: 10px;
}
.sortable-style > .sortable {
    margin-top: -10px;
}
.handles span {
    cursor: move;
}
li.disabled {
    opacity: 0.5;
}
.sortable.grid li {
    float: left;
    height: 110px;
    line-height: 110px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    width: 110px;
}
li.highlight {
    background: #FEE25F;
}
#connected {
    width: 440px;
    overflow: hidden;
    margin: auto;
}
.connected {
    float: left;
    width: 200px;
}
.connected.no2 {
    float: right;
}
li.sortable-placeholder {
    border: 1px dashed #CCC;
    background: none;
}
.sortable-style {
    float: left;
    width: 100%;
}

/*以下是日期控件样式*/
.bootstrap-datetimepicker-widget.dropdown-menu:before,.bootstrap-datetimepicker-widget.dropdown-menu:after {
	content: '';
	display: inline-block;
	position: absolute
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before {
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-bottom-color: rgba(0,0,0,0.2);
	top: -7px;
	left: 7px
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid white;
	top: -6px;
	left: 8px
}

.bootstrap-datetimepicker-widget.dropdown-menu.top:before {
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #ccc;
	border-top-color: rgba(0,0,0,0.2);
	bottom: -7px;
	left: 6px
}

.bootstrap-datetimepicker-widget.dropdown-menu.top:after {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid white;
	bottom: -6px;
	left: 7px
}

.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:before {
	left: auto;
	right: 6px
}

.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:after {
	left: auto;
	right: 7px
}

.bootstrap-datetimepicker-widget .list-unstyled {
	margin: 0
}

.bootstrap-datetimepicker-widget a[data-action] {
	padding: 6px 0
}

.bootstrap-datetimepicker-widget a[data-action]:active {
	box-shadow: none
}

.bootstrap-datetimepicker-widget .timepicker-hour,.bootstrap-datetimepicker-widget .timepicker-minute,.bootstrap-datetimepicker-widget .timepicker-second {
	width: 54px;
	font-weight: bold;
	font-size: 1.2em;
	margin: 0
}

.bootstrap-datetimepicker-widget button[data-action] {
	padding: 6px
}

.bootstrap-datetimepicker-widget table {
	width: 100%;
	margin: 0
}

.bootstrap-datetimepicker-widget table td,.bootstrap-datetimepicker-widget table th {
	text-align: center;
	border-radius: 4px
}

.bootstrap-datetimepicker-widget table th {
	height: 20px;
	line-height: 20px;
	width: 20px
}

.bootstrap-datetimepicker-widget table th.picker-switch {
	width: 145px
}

.bootstrap-datetimepicker-widget table th.disabled,.bootstrap-datetimepicker-widget table th.disabled:hover {
	background: none;
	color: #777;
	cursor: not-allowed
}

.bootstrap-datetimepicker-widget table th.prev::after {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	content: "上个月"
}

.bootstrap-datetimepicker-widget table th.next::after {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	content: "下个月"
}

.bootstrap-datetimepicker-widget table thead tr:first-child th {
	cursor: pointer
}

.bootstrap-datetimepicker-widget table td {
	height: 54px;
	line-height: 54px;
	width: 54px
}

.bootstrap-datetimepicker-widget table td.cw {
	font-size: .8em;
	height: 20px;
	line-height: 20px;
	color: #777
}

.bootstrap-datetimepicker-widget table td.day {
	height: 20px;
	line-height: 20px;
	width: 20px
}

.bootstrap-datetimepicker-widget table td.day:hover,.bootstrap-datetimepicker-widget table td.hour:hover,.bootstrap-datetimepicker-widget table td.minute:hover,.bootstrap-datetimepicker-widget table td.second:hover {
	background: #eee;
	cursor: pointer
}

.bootstrap-datetimepicker-widget table td.old,.bootstrap-datetimepicker-widget table td.new {
	color: #777
}

.bootstrap-datetimepicker-widget table td.today {
	position: relative
}

.bootstrap-datetimepicker-widget table td.today:before {
	content: '';
	display: inline-block;
	border: 0 0 7px 7px solid transparent;
	border-bottom-color: #337ab7;
	border-top-color: rgba(0,0,0,0.2);
	position: absolute;
	bottom: 4px;
	right: 4px
}



.bootstrap-datetimepicker-widget table td.active.today:before {
	border-bottom-color: #fff
}

.bootstrap-datetimepicker-widget table td.disabled,.bootstrap-datetimepicker-widget table td.disabled:hover {
	background: none;
	color: #777;
	cursor: not-allowed
}

.bootstrap-datetimepicker-widget table td span {
	display: inline-block;
	width: 54px;
	height: 54px;
	line-height: 54px;
	margin: 2px 1.5px;
	cursor: pointer;
	border-radius: 4px
}



.bootstrap-datetimepicker-widget table td span.active {
	background-color: #337ab7;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25)
}

.bootstrap-datetimepicker-widget table td span.old {
	color: #777
}

.bootstrap-datetimepicker-widget.usetwentyfour td.hour {
	height: 27px;
	line-height: 27px
}

.bootstrap-datetimepicker-widget.wider {
	width: 21em
}

.bootstrap-datetimepicker-widget .datepicker-decades .decade {
	line-height: 1.8em !important
}

.input-group.date .input-group-addon {
	cursor: pointer
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0
}
