@charset "utf-8";

/*
@名称: base
@功能: 重设浏览器默认样式
*/
body,html{
	height: 100%;
}
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html{
	color:#000;background:#fff;
	-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		/* -moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select: none; 
	-khtml-user-select: none; 
	user-select: none; */
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	margin:0;padding:0;
	color:#333;
	font-family: 'Microsoft YaHei', '微软雅黑', Arial, Lucida Grande, Tahoma, sans-serif;
}
body,div,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	font-size: 13px;
}
/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display:block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video {
    display: inline-block;*display: inline;*zoom: 1;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea{
font:13px/1.5 tahoma,arial,\5b8b\4f53;
}
input,select,textarea{
font-size:100%;
font-family: 'Microsoft YaHei', '微软雅黑', Arial, Lucida Grande, Tahoma, sans-serif;
	font-size: 13px;
}

/* 去掉各Table cell 的边距并让其边重合 */
table{
/*border-collapse:collapse;*/
border-spacing:0;
}

/* IE bug fixed: th 不继承 text-align*/
th{
text-align:inherit;
}

/* 去除默认边框 */
fieldset,img{
border:0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe{
display:block;
}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym{
border:0;font-variant:normal;
}

/* 一致的 del 样式 */
del {
text-decoration:line-through;
}

address,caption,cite,code,dfn,em,th,var {
font-style:normal;
font-weight:500;
}
body{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
/* 去掉列表前的标识, li 会继承 */
ol,ul {
list-style:none;
}
ol li,ul li{
	list-style:none;
}
/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {
text-align:left;
}

q:before,q:after {
content:'';
}

/* 统一上标和下标 */
sub, sup {
    font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}


a{
	color: #333;
}
/* 让链接在 hover 状态下显示下划线 */
a:hover {
/*	color: #c00;*/
}

/* 默认不显示下划线，保持页面简洁 */
ins,a {
text-decoration:none;
}

/* 清理浮动 */
.fn-clear:after {
visibility:hidden;
display:block;
font-size:0;
content:" ";
clear:both;
height:0;
}
.fn-clear {
zoom:1; /* for IE6 IE7 */
}
input[type="text"]:disabled{
	background-color: #fff;
}
/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide {
display:none;
}

/* 设置内联, 减少浮动带来的bug */
.fn-left,.fn-right {
display:inline;
}
.fn-left {
float:left;
}
.fn-right {
float:right;
}
/* 去掉文本框选中时边框 */
input:focus{
    outline: none;    
}
/* img{
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select: none; 
	-khtml-user-select: none; 
	user-select: none;
} */
.focus{
	border: 1px #cd6e00 dashed;
}

/* 右侧设置 */
.focus .modify_box{
	display: block;
}
.modify_box {
	position: absolute;
	right: -450px;
	top:0;
	padding: 12px 10px;
	min-height: 28px;
	background: #f8f8f8;
	border-radius: 5px;
	border: 1px solid #e5e5e5;
	width: 420px;
	margin-left: 20px;
	font-size: 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 5;
	display: none;
	margin-bottom: 80px;
}
.modify_box1:after,
.modify_box1:before,
.modify_box:after, 
.modify_box:before {
	right: 100%;
	top: 20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.modify_box1:before,
.modify_box:before {
	border-color: transparent;
	border-right-color: #e5e5e5;
	border-width: 7px;
	margin-top: -7px;
}
.blankShow{
	position: relative;
}
button:focus{
	border: none 0;
}
/* 富文本设置 */
.ql-align-center{
	text-align: center;
}
.ql-align-right{
	text-align: right;
}
.ql-indent-1 {
    padding-left: 3em;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
input[type="number"]{
	-moz-appearance: textfield;
}