<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.weiit.web.admin.init.mapper.TemplateCateMapper">
 
     <select id="selectList" resultType="com.weiit.core.entity.E"  parameterType="map">
    	SELECT cate_id, cate_id as validate_id,
    		cate_name, parent_id, create_time, update_time 
		FROM weiit_init_template_cate 
		where 1=1 
		<if test="cate_name !=null and cate_name !='' ">
			and cate_name like concat('%', #{cate_name}, '%')
		</if> 
		order by cate_id desc 
     </select> 
     
     <select id="selectOne" resultType="com.weiit.core.entity.E"  parameterType="map">   
        SELECT cate_id, cate_id as validate_id,
    		cate_name, parent_id, create_time, update_time 
		FROM weiit_init_template_cate 
		where cate_id=#{validate_id}   
     </select>
      
      <!-- 新增 -->
	 <insert id="insert"  parameterType="map">
        insert into weiit_init_template_cate
        (
			cate_name, parent_id, create_time, update_time 
        )
        values
        (
			#{cate_name},#{parent_id}, now(), now()
        )
     </insert>
     
     <!-- 删除 -->
     <delete id="remove"   parameterType="map">
        delete from weiit_init_template_cate    
        where  cate_id=#{validate_id}   
     </delete>
     
     <!-- 修改 -->
     <update id="edit"   parameterType="map">
        update weiit_init_template_cate  
        set 
        	update_time=now() 
        <if test="cate_name !=null and cate_name !=''">
       	 	,cate_name=#{cate_name}
        </if>
        <if test="parent_id !=null and parent_id !=''">
       	 	,parent_id=#{parent_id}
        </if> 
        where cate_id=#{validate_id} 
     </update>
     
           
</mapper>
