/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
    font:  Tahoma, Helvetica, Arial, "PingFang-SC-Medium", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
    color: #333;
}
body,html{
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; color: #000;}
a:hover { text-decoration: none; }

abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
border-bottom: 1px dotted;
cursor: help;
}

q:before, q:after { content: ''; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
border-collapse: collapse;
border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}
/* 清除浮动 */
.clearfix:after {
    content:""; 
    display: block; 
    clear:both; 
 }
 /* 清理浮动 */
.fn-clear:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.fn-clear {
    zoom:1; /* for IE6 IE7 */
}
/* 清楚边框 */
input,buttom{
    border:none 0;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
/* input聚焦去掉边框 */
input:focus{outline:0 !important}
textarea:focus{outline:0 !important}
button:focus{outline:0 !important}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #d3d3d3; opacity:1; 
    font-size:0.28rem;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #d3d3d3;opacity:1;
    font-size:0.28rem;
}

input:-ms-input-placeholder{
    color: #d3d3d3;opacity:1;
    font-size:0.28rem;
}

input::-webkit-input-placeholder{
    color: #d3d3d3;opacity:1;
    font-size:0.28rem;
}
.page-tab-container{
    height: calc(100% - 3.4rem);
}
.mint-tab-container{
    height: 100%;
}
.mint-tab-container-wrap{
    height: 100%;
}
button{
    border:none 0;
}
.mint-loadmore-text{
    font-size: 0.28rem;
    color: #333;
}
video::-webkit-media-controls {
  display:none !important;
}