<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.weiit.web.admin.setting.mapper.AddressMapper">

    <select id="selectList"  resultType="com.weiit.core.entity.E"  parameterType="map">
        SELECT
            aa.address_id,
            aa.contact_name,
            aa.province,
            aa.city,
            aa.district,
            aa.address,
            aa.zip_code,
            province.region_name proName,
            city.region_name cityName,
            district.region_name disName,
            aa.phone,
            aa.tel,
            aa.create_time,
            aa.update_time,
            aa.shipping_type,
            aa.return_type
        FROM
            weiit_shop_address aa,
            weiit_init_region district,
            weiit_init_region city,
            weiit_init_region province
        WHERE
            aa.district = district.id
            AND aa.city = city.id
            AND aa.province = province.id
            AND aa.is_deleted = 0
            AND aa.shop_id =16

        ORDER BY
            aa.create_time DESC
    </select>



    <insert id="insert" parameterType="map">
        INSERT INTO
            weiit_shop_address (
                contact_name,
                province,
                city,
                district,
                address,
                zip_code,
                remark,
                phone,
                tel,
                is_deleted,
                create_time,
                update_time,
                shipping_type,
                return_type,
                shop_id
            )
            VALUES
                (
                #{contact_name},
                #{province},
                #{city},
                #{district},
                #{address},
                #{zip_code},
                #{remark},
                #{phone},
                #{tel},
                0 ,
                now(),
                now(),
                #{shipping_type},
                #{return_type},
                #{shop_id}
            )
    </insert>


    <!--地址编辑查询-->
    <select id="selectOne" resultType="com.weiit.core.entity.E" parameterType="map">
        SELECT
            address_id,
            contact_name,
            province,
            city,
            district,
            address,
            zip_code,
            remark,
            phone,
            tel,
            is_deleted,
            create_time,
            update_time,
            create_id,
            update_id,
            shipping_type,
            return_type,
            shop_id
        FROM
            weiit_shop_address
        WHERE
            is_deleted = 0
            AND address_id = #{address_id}
        <if test = " shop_id !=null and shop_id !='' " >
            AND shop_id = #{shop_id}
        </if >
    </select>

    <!--地址修改-->
    <update id="edit" parameterType="map">
        UPDATE
            weiit_shop_address
        SET
            contact_name = #{contact_name} ,
            province=#{province} ,
            city=#{city} ,
            district=#{district} ,
            address = #{address} ,
            zip_code=#{zip_code} ,
            remark = #{remark},
            phone=#{phone} ,
            tel=#{tel} ,
            update_time = now()
        WHERE
            address_id = #{address_id}
        <if test=" shop_id !=null and shop_id !='' ">
            and shop_id = #{shop_id}
        </if>
    </update>


    <!--地址删除-->
    <update id="remove" parameterType="map">
        UPDATE
            weiit_shop_address
        SET
            is_deleted =- 1
        WHERE
            address_id = #{address_id}
        <if test=" shop_id !=null and shop_id !='' ">
            and shop_id = #{shop_id}
        </if>
    </update>


    <update id="editType" parameterType="map">
        update  weiit_shop_address set
        <if test="shipping_type !=null and shipping_type !='' ">
            shipping_type=#{shipping_type}
        </if>
        <if test="return_type !=null and return_type !='' ">
            return_type=#{return_type}
        </if>
        where  1=1
        <if test="address_id !=null and address_id !='' ">
            and address_id=#{address_id}
        </if>
        <if test=" shop_id !=null and shop_id !='' ">
            and shop_id = #{shop_id}
        </if>
    </update>




</mapper>

