<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.weiit.web.weixinopen.mapper.WeixinOpenMapper">
	
	<!-- 查询微信第三方平台配置信息 -->
    <select id="selectWeixinOpenInfo" flushCache="true" useCache="false"   parameterType="map" resultType="com.weiit.core.entity.E">
        SELECT
            *
        FROM
            weiit_weixin_open_info
        LIMIT 1
    </select>

    <select id="selectWxPublicInfo" flushCache="true" useCache="false" parameterType="map" resultType="com.weiit.core.entity.E">
        SELECT
            *
        FROM
            weiit_weixin_public_info
        WHERE
            authorizer_app_id=#{appid}
        LIMIT 1
    </select>

    <!-- 修改微信第三方配置信息表的verify_ticket字段 -->
    <update id="editWeixinOpenInfoVerifyTicket" parameterType="map">
		update  weiit_weixin_open_info
			set
		component_verify_ticket=#{component_verify_ticket},
		update_time=now()
	</update>


    <select id="getPayParamByShopIdAndType" parameterType="com.weiit.core.entity.E" resultType="com.weiit.core.entity.E">
        SELECT
            wp.authorizer_app_id app_id,
            ww.partner_id,
            ww.partner_key
        FROM
            weiit_shop_payment ww,
            weiit_weixin_public_info wp
        WHERE
            ww.shop_id = #{shop_id}
            AND ww.type = #{open_id_type}
            AND wp.shop_id = #{shop_id}
            AND wp.service_type_info = #{service_type_info}
    </select>
</mapper>
